.navbar{
    display: flex;
    justify-content: space-between;
}

.categories{
    display: flex;
    list-style: none;
    flex-direction: column;
}

.cartwidget{
    display: flex;
}

.logo{
    width: 30%;
}